.container{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:20px 0;
    p{
        font-size: larger;
    }
}
.loader{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 4px solid black;
    border-top-color: rgb(252, 251, 250);
    animation : spin 1s linear infinite;
}

@keyframes spin{
    from {
        transform: scale(1) rotate(0deg);
    }
    to{
        transform: scale(1.5) rotate(360deg);
    }
}